.hero {
  background-color: var(--primary-color);
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.textOutlineH1,
.textFilledH1 {
  position: absolute;
  left: 4.5rem;
  text-transform: uppercase;
  font-style: italic;
  pointer-events: none;
  color: var(--text-color);
  z-index: 1;
  white-space: nowrap;
  font-size: 8rem;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-weight: 900;
}

.textFilled,
.textOutline {
  position: absolute;
  text-transform: uppercase;
  font-style: italic;
  pointer-events: none;
  color: var(--text-color);
  z-index: 1;
  white-space: nowrap;
  font-size: 8rem;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-weight: 900;
}

.textOutline {
  z-index: 3;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.textOutlineH1 {
  z-index: 3;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.heroImage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroPicture {
  z-index: 2;
  width: 650px;
  height: 650px;
}

.firstText {
  position: relative;
  -webkit-text-stroke-width: 2px;
  top: 23.7rem;
}

.secondText {
  position: relative;
  -webkit-text-stroke-width: 2px;
  top: 30rem;
  right: 5rem;
}

/* breakpoints */
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  .firstText {
    position: relative;
    -webkit-text-stroke-width: 2px;
    top: 16rem;
    right: 10rem;
  }

  .secondText {
    position: relative;
    -webkit-text-stroke-width: 2px;
    top: 22.5rem;
    right: 10rem;
  }
  .heroPicture {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 350px) {
}
