nav {
  font-size: 0.8rem;
  z-index: 4;
  font-weight: bold;
}

nav a {
  color: var(--text-color);
}

.navName {
  color: var(--text-color);
  position: fixed;
  display: flex;
  flex-direction: column;
  line-height: 1rem;
  left: 1.5rem;
  top: 1.5rem;
  font-size: 1rem;  z-index: 4;
}

.iconNavbar{
  display: none;
}

.navMenuRight {
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  text-align: end;
  font-size: 1rem;  z-index: 4;
}

.navMenuBot {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  text-align: start;
  font-size: 1rem;  z-index: 4;
}

/* breakpoints */
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  nav{
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .navName{
    position: absolute;
  }
  .iconNavbar{
    display: block;
    font-size: 1.5rem;
    color: var(--primary-color);
  }
  .textNavbar{
    display: none;
  }
  .navMenuRight, .navMenuBot{
    display: flex;
    flex-direction: row;
    position: static;
    gap: 0.5rem;
    align-items: center;
  }
  .containerNav{
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 4;
    bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    gap: 0.5rem;
    background:hsla(0,0%,100%,.274);
    backdrop-filter: blur(10px);
  }
  .iconActive{
    background-color: rgba(255, 255, 255, 0.764);
    padding: 0.4rem;
    border-radius: 50%;
  }
}
@media screen and (max-width: 350px) {
  
}